node_modules
.DS_Store
dist-ssr
*.local
.env
.eslintcache
yarn-error.log
faces-detail-cart/
cart.html
dist/_headers
dist/faces.js
dist/facesdetail.js
dist/global.js
dist/home.js
dist/manifest.json
dist/studio.js
dist/workdetail.js
dist/assets/buttonsDrawline.js
dist/assets/global.css
dist/assets/insertScript.js
dist/assets/splide.css
dist/assets/splide.js
dist/assets/videoPlayer.css
dist/assets/videoPlayer.js
