/* background fade colors */
.main-wrapper.background-fade-color-white {
  background-color: white;
  color: black;
}

.main-wrapper.background-fade-color-black {
  background-color: black;
  color: white;
}

.main-wrapper.background-fade-color-beige {
  background-color: #faf9e4;
  color: black;
}

.main-wrapper.background-fade-color-red {
  background-color: #e84729;
  color: white;
}

.main-wrapper.background-fade-color-black .form_input {
  border-color: white;
  color: white;
}

.main-wrapper.background-fade-color-black .form_input:focus {
  border-color: #e84729;
}

.main-wrapper.background-fade-color-black .button:hover {
  background: white;
  color: #e84729;
}