/* custom cursor */
*,
input[type="submit"],
.w-lightbox-control,
.w-button {
  cursor: none;
}

input[type="text"],
input[type="email"],
input[type="datetime-local"],
textarea {
  cursor: text;
}

body:hover .cursor {
  opacity: 1.0;
}

.cursor {
  pointer-events: none;
  mix-blend-mode: difference;
}

/* disable custom cursor on ipad pro */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

  body {
    cursor: default;
  }

  .cursor-wrapper {
    display: none;
  }

  a {
    cursor: pointer;
  }
}

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

  body {
    cursor: default;
  }

  .cursor-wrapper {
    display: none;
  }

  a {
    cursor: pointer;
  }
}