/* custom cursor */
*,
input[type="submit"],
.w-lightbox-control {
  cursor: none;
}

input[type="text"],
input[type="email"],
input[type="datetime-local"],
textarea {
  cursor: text;
}

body:hover .cursor {
  opacity: 1.0;
}

.cursor {
  pointer-events: none;
  mix-blend-mode: difference;
}