input[type="datetime-local"]:focus {
  outline: none;
}

.w-lightbox-backdrop {
  background: rgba(255, 255, 255, .8);
  backdrop-filter: blur(20px);
}

.cart_button-delete * {
  pointer-events: none;
}