input[type="datetime-local"]:focus {
  outline: none;
}

.w-lightbox-item {
  cursor: none;
}

.w-lightbox-backdrop {
  background: rgba(255, 255, 255, .8);
  backdrop-filter: blur(20px);
}


.w-lightbox-right {
  background-size: 3rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBhcmlhLWhpZGRlbj0idHJ1ZSIgcm9sZT0iaW1nIiBjbGFzcz0iaWNvbmlmeSBpY29uaWZ5LS1waCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQgbWVldCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTk2IDIxNmE4LjUgOC41IDAgMCAxLTUuNy0yLjNhOC4xIDguMSAwIDAgMSAwLTExLjRsNzQuNC03NC4zbC03NC40LTc0LjNhOC4xIDguMSAwIDAgMSAxMS40LTExLjRsODAgODBhOC4xIDguMSAwIDAgMSAwIDExLjRsLTgwIDgwQTguNSA4LjUgMCAwIDEgOTYgMjE2WiI+PC9wYXRoPjwvc3ZnPg==);
}

.w-lightbox-left {
  background-size: 3rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBhcmlhLWhpZGRlbj0idHJ1ZSIgcm9sZT0iaW1nIiBjbGFzcz0iaWNvbmlmeSBpY29uaWZ5LS1waCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQgbWVldCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTE2MCAyMTZhOC41IDguNSAwIDAgMS01LjctMi4zbC04MC04MGE4LjEgOC4xIDAgMCAxIDAtMTEuNGw4MC04MGE4LjEgOC4xIDAgMCAxIDExLjQgMTEuNEw5MS4zIDEyOGw3NC40IDc0LjNhOC4xIDguMSAwIDAgMSAwIDExLjRhOC41IDguNSAwIDAgMS01LjcgMi4zWiI+PC9wYXRoPjwvc3ZnPg==);
}

.w-lightbox-close {
  background-size: 2rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBhcmlhLWhpZGRlbj0idHJ1ZSIgcm9sZT0iaW1nIiBjbGFzcz0iaWNvbmlmeSBpY29uaWZ5LS1waCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQgbWVldCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTIwNS43IDE5NC4zYTguMSA4LjEgMCAwIDEgMCAxMS40YTguMiA4LjIgMCAwIDEtMTEuNCAwTDEyOCAxMzkuM2wtNjYuMyA2Ni40YTguMiA4LjIgMCAwIDEtMTEuNCAwYTguMSA4LjEgMCAwIDEgMC0xMS40bDY2LjQtNjYuM2wtNjYuNC02Ni4zYTguMSA4LjEgMCAwIDEgMTEuNC0xMS40bDY2LjMgNjYuNGw2Ni4zLTY2LjRhOC4xIDguMSAwIDAgMSAxMS40IDExLjRMMTM5LjMgMTI4WiI+PC9wYXRoPjwvc3ZnPg==);
}

.w-lightbox-close:focus {
  outline: none;
}

.cart_button-delete * {
  pointer-events: none;
}

@media only screen and (max-width: 767px) {
  .w-lightbox-backdrop {
    background: white;
    backdrop-filter: none;
  }
}