.video-js {
  width: 100%;
  height: 100%;
}

.video-wrapper .w-embed {
  width: 100%;
  height: 100%
}

.video-js .custom-big-play-button {
  display: block;
  margin: 0;
  font-size: 1rem;
  color: var(--red);
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  position: absolute;
  left: 0%;
  top: 0%;
  color: var(--red);
}

.video-js .custom-big-play-button .line-container {
  width: 50%;
  left: 25%;
  margin-top: -10%;
}

.video-js:hover .custom-big-play-button {
  transform: scale(1.1);
}

.video-js .vjs-control-bar {
  color: var(--red);
  background: none;
  flex-direction: row-reverse;
}